// Colors of Project

// Brand Colors

$primary-normal: #410552;
$primary-dark:#25022F;
$primary-light:#5D0875;

$secondary-normal:#4a2653;
$secondary-dark:#410552;
$secondary-light:#792b8f;


//Neutral Colors

$black-normal:#232224;
$black-dark:#0a0a0a;
$black-light:#161617;

$white-normal:#F7F2FA;
$white-dark:#EDEAEF;
$white-light:#FEFBFF;

// Grey Scale

$gray-1:#454446;
$gray-2:#555456;
$gray-3:#666566;
$gray-4:#767576;
$gray-5:#868587;
$gray-6:#969597;
$gray-7:#A6A6A7;

//Auxiliary Colors

$red-normal:#EB3D3D;
$red-dark:#D03333;
$red-light:#F05454;

$green-normal:#32D957;
$green-dark:#28BB49;
$green-light:#50E170;

$yellow-normal:#FFCE52;
$yellow-dark:#D9B043;
$yellow-light:#FFD76B;

.white{
    color: $white-light;
}